html {
    box-sizing: border-box;
}

*, *:before *:after {
    box-sizing: inherit;
}

body {
    background-color: black;
}

.srodek {

    position: fixed;
    overflow:auto;

    left:50%;
    top:0;
    transform: translate(-50%);



    background-color: Beige;   
    width:80%;
    height:100%;

    
    font-size:2vmax;
    outline: 1px solid Beige;


}



.srodek > .TekstGłówny {
    text-align: center;
    font-size:1.5vmax;
    border-top:0px;
    margin:0;
    margin-bottom: 1%;


}

.srodek > input {

    width:70%;

    display: inline-block;


    font-family: inherit;


    border: 2px solid black;
    border-radius: 4px;
    outline: none;
}

.srodek > input:valid {
    background-color: yellow;
}
#buttonRemove {
    display: inline;
    background-color: purple;
    border-radius: 5px;
    font-weight: bold;
    font-size:18px;
    font-family: monospace;
    color:black;

    text-align: center;
    cursor:pointer;
}



.srodek > #listaElementow {
    list-style-type: square;
    white-space: pre-line; 
}


input[type="checkbox"] {
    margin-left:auto  !important;
    width:30% !important;
}

button {
    width:30%;
}

li {
    display:flex; 
}


li:before {
    content: "•";
    margin-right:10px;
}


input::first-letter {
    text-transform: capitalize;
}




@Media only screen and (max-width:800px) {
    

    body {
        padding:0;
        height:100%;
    }
    .srodek {
        width:100%;
        height:100%;
        background-color: orange;
        opacity: 0.7;

    }
    
    p {
        text-shadow: 2px 2px 5px red;
    }

    #buttonRemove {
        display: inline;
        height:auto !important;
        width: auto !important;


    
        text-align: center;
        cursor:pointer;
    }

    button {
        width:30% !important;
        height:auto;
    }
    .srodek > input  {
        width:50%;
        height:10%;
    }


    
}


@Media only screen and (max-width:1440px) {
    button {
        width:30%;
        height:10%  !important; 
    }
    
    input {
        width:98%  !important;
        
    }


}

@Media only screen and (max-width:2550px) {
    button {
        height:2vmax;
    }
}
